.article-content {
    &__inner {
        margin-top: 20px;
    }
    &__item {
        display: flex;
        align-items: center;
        transition: $transition;

        &:not(:first-child) {
            margin-top: 15px;
        }
        &:hover {
            .article-content__item-icon {
                background-color: $blue;
                box-shadow: 0 4px 13px rgba(0, 122, 255, 0.38);
                border: none;

                svg path {
                    fill: $white;
                }
            }
            a {
                color: $blue;
            }
        }
        &-icon {
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 999px;
            border: $divider;
            transition: $transition;

            @media screen and (max-width: $phone + px) {
                min-width: 24px;
                height: 24px;
            }
        }
        &-text {
            margin-left: 10px;
            font-size: 16px;
            line-height: 1.7;
            font-weight: 400;

            a {
                color: $dark;
                transition: $transition;
            }
        }
    }
}

// * ARTICLE TEXT

.ordered-list {
    counter-reset: myCounter;

    &__item {
        list-style: none;
        margin: 0 0 0 14px;

        &::before {
            counter-increment: myCounter;
            content: counter(myCounter);
            color: $dark;
            display: inline;
            line-height: 24px;
            font-weight: bold;
            margin: 0 9px 0 0;
        }
    }
}

.unordered-list {
    &__item::before {
        content: "";
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 999px;
        background-color: $blue;
        margin: 0 14px 2px 0;
    }
}