.aside-comment {
    margin-top: 20px;

    &:nth-child(n + 3) {
        display: none;
    }
    &:nth-child(-n + 3) {
        display: block;
    }
    &:last-child {
        border-bottom: none;
    }
    &__name {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 600;
    }
    &__text {
        margin-top: 12px;
        @media screen and (max-width: $littleTablet + px) {
            text-align: justify;
        }
    }
    .comments-item__btn {
        margin-bottom: 14px;
    }
    &__btn {
        margin: 20px 0;
    }
}
