.news-categories {
    display: inline-block;
    background-color: $lightGrey;
    border-radius: 999px;
    margin-bottom: 40px;
    padding: 0rem 0.15rem;

    &__item {
        font-family: "SFProDisplay";
        display: inline-block;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        padding: 0rem 1.2rem;

        &:hover {
            color: $blue;
        }
        &._active {
            background-color: $blue;
            padding: 0.66rem 1rem;
            color: $white;
            border-radius: 999px;
        }
        &._hide {
            display: none;
        }
    }
}