// * DEFAULT 

html::-webkit-scrollbar {
    width: 0.9rem; 
 }

html::-webkit-scrollbar-track {
  background-color: $lightGrey;
}

html::-webkit-scrollbar-thumb {
  background: $darkGrey;
  border-radius: 999px;
}
