// * SELECT

.select {
    position: relative;
    padding: 0.4rem 0.5rem 0.4rem 0.75rem;
    border-radius: 52px; // * Don't change
    border: 1px solid $lightGrey;
    &:focus {
        border: 1px solid $blue;
    }
    cursor: pointer;

    &__item {
        position: relative;
    }
    &__title {
        cursor: pointer;
    }
    &__value,
    &__options {
        line-height: 1.6;
        letter-spacing: 0.02em;
    }
    &__value {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;

        span {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        &::before {
            content: "";
            display: inline-block;
            margin-left: 0.2rem;
            width: 1rem;
            height: 1rem;
            background: url($chevron-icon) center / 100% no-repeat;
            transition: $transition;
        }
    }
    &__options {
        display: none;
        position: absolute;
        // * Hard styling
        top: 2rem;
        left: -0.8rem;
        width: 118%;
        background-color: $white; // * Hiding text above select
        border-left: 1px solid $lightGrey;
        border-right: 1px solid $lightGrey;
        border-bottom: 1px solid $lightGrey;
        border-radius: 0 0 15px 15px;
    }
    &__option {
        padding: 0px 0.25rem;
        text-align: center;
        cursor: pointer;
        transition: $transition;
        &:not(:first-of-type) {
            border-top: 1px solid $lightGrey;
        }
        &:hover {
            color: $blue;
        }
    }
    &._active {
        z-index: 5;
        border-radius: 20px 20px 0 0; // * Don't change

        & .select__value::before {
            transform: rotate(-180deg);
        }
        & .select__options {
            display: block;
        }
    }
}