.search-table {
    width: 100%;
    position: absolute;
    top: 398px;
    left: 0;
    background-color: $white;
    border-radius: 15px;
    padding: 10px 36px;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 0;
        border-top: $divider;
        border-bottom: $divider;
    }
    &__choose {
        display: flex;
        align-items: flex-start;

        &-item {
            margin-left: 14px;
        }
    }
    .news-categories {
        width: 270px;
    }
    // &__transplant {
    // }
    // .select {
    // }
    // &__company {
    // }
}