* {
    font-family: "SFProDisplay";
}

body {
    font-family: $fontFamily, sans-serif;
    font-size: $fontSize + px;
    font-weight: 400;
    
    color: $dark;
    &._lock {
        overflow: hidden;
    }
}

.page {
    display: flex;
    flex: 1 1 auto;

    &--article {
        @media screen and (max-width: $bigTablet + px) {
            flex-direction: column-reverse;
        }
    }
}

.main {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
}
