.h1 {
    font-family: "SFProDisplay";
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
}

.h2 {
    font-family: "SFProDisplay";
    font-weight: 600;
    font-size: 28px;
    line-height: 1.4;
}

.h3 {
    font-family: "SFProDisplay";
    font-weight: 600;
    font-size: 26px;
    line-height: 1.4;
}

.h4 {
    font-family: "SFProDisplay";
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
}

.h5 {
    font-family: "SFProDisplay";
    font-weight: 600;
    font-size: 22px;
    line-height: 1.4;
}

.h6 {
    font-family: "SFProDisplay";
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}

.subtitle {
    font-family: "SFProDisplay";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
}

.text {
    font-family: "SFProDisplay";
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    margin: 14px 0;
}

.navlink {
    font-family: "SFProDisplay";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: $dark;
    position: relative;

    &::before {
        content: "";
        display: block;
        opacity: 0;
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: -2px;
        background-color: $dark;
        transition: $transition;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
    @media screen and (max-width: $littleTablet + px) {
        &:hover {
            &::before {
                opacity: 0;
            }
        }
    }
}

.label {
    font-size: 14px;
    line-height: 1.3;
    color: $darkGrey;
}

.medium-label {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    color: $dark;
}

.btn {
    display: block;
    background-color: $blue;
    border-radius: 26px;
    padding: 15px 28px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: $white;
    transition: $transition;
    font-family: "SFProDisplay";

    &:hover {
        background-color: darken($blue, 5%);
    }
    &:active {
        background-color: darken($blue, 10%);
    }
}

.inp {
    padding: 15px 20px;
    border-radius: 52px;
    border: 1px solid $lightGrey;
    font-family: "SFProDisplay";
}

.textarea {
    height: 128px;
    padding: 20px 15px;
    border-radius: 25px;
    border: 1px solid $lightGrey;
    resize: none;
    font-family: "SFProDisplay";
}
