//<DEFAULT FONT>=====================
$fontFamily: "SF Pro Display";
$fontSize: 16;

//<MAX & MIN WIDTH>===================
// Нужны в некоторых миксинах
$maxWidth: 1440;
$minWidth: 375;

//<BREAKPOINTS>=============================
$bigTablet: 1279.98;
$littleTablet: 959.98;
$foldPhone: 727.98; 
$phone: 527.98;

//<CONTAINERS>=============================

// Максимальная ширина контейнера с учетом padding: 0 12px; чтобы контент не прилипал к краям при адаптиве
// 1312 + 12*2 или 927.98 + 16 (если padding: 0 8px)

$xl: 1280 + 24;
$lg: 927.98 + 16;
$md: 695.98 + 16;
$ms: 511.98 + 16;
$sm: 335.98 + 8;

//<COLORS>=============================
$white: #FFFFFF;
$darkGrey: #A7B0BC;
$lightGrey: #E5E8EC;
$separatorGrey: #F6F6F6;
$dark: #161C25;

$blue: #007AFF;
$lightGreen: #6ED000;
$green: #32A92F;
$red: #EC3B3B;

//<EFFECTS>=============================
$transition: .6s all;
$divider: 1px solid rgba(22, 28, 37, 0.1);
$normalShadow: 0 1px 24px rgba(0, 122, 255, 0.07);
$hoverShadow: 0 1px 24px rgba(0, 122, 255, 0.23);

// OTHER
$chevron-icon: "../img/icons/main/chevron.svg";