<footer class="footer">
    <div class="footer__container _container">

        <div class="footer__inner">
            <div class="footer__content">
                <div class="footer__info">
                    <a href="#" data-goto="#main" class="header__logo footer__logo">
                        <span class=" header__logo-title footer__logo-title">Logotype</span>
                        <span class="header__logo-subtitle footer__logo-subtitle">Быстрый и удобный способ заказа
                            билетов</span>
                    </a>
                    <div class="footer__copyright header__logo-subtitle">
                        2021 Copyright
                    </div>
                </div>

                <nav class="header__menu footer__menu">
                    <ul class="footer__menu-list">
                        <li><a href="#" data-goto="#about" class="footer__menu-link navlink">Пользовательськое
                                соглашение</a></li>
                        <li><a href="#" data-goto="#about" class="footer__menu-link navlink">Политика
                                конфиденциальности</a></li>
                        <li><a href="#" data-goto="#about" class="footer__menu-link navlink">Правила сайта</a></li>
                    </ul>
                </nav>
            </div>

            <div class="footer__social">
                <div class="footer__social-title">Мы в соц сетях</div>
                <div class="footer__social-content">
                    <a href="#" class="footer__social-icon"><img src="img/icons/social/facebook.svg" alt="facebook"></a>
                    <a href="#" class="footer__social-icon"><img src="img/icons/social/instagram.svg" alt="instagram"></a>
                    <a href="#" class="footer__social-icon"><img src="img/icons/social/facebook.svg" alt="facebook"></a>
                    <a href="#" class="footer__social-icon"><img src="img/icons/social/instagram.svg" alt="instagram"></a>
                </div>
            </div>
        </div>
    </div>
</footer>