<div class="activity">
    <div class="activity__item">
        <img src="@@applauseIconPath" alt="@@applauseIconAlt" class="activity__item-img">
        <div class="activity__item-num medium-label">@@applauseCount</div>
    </div>
    <div class="activity__item">
        <img src="@@shareIconPath" alt="@@shareIconAlt"
            class="activity__item-img">
        <div class="activity__item-num medium-label">@@shareCount</div>
    </div>
    <div class="activity__item">
        <img src="@@commentIconPath" alt="@@commentIconAlt"
            class="activity__item-img">
        <div class="activity__item-num medium-label">@@commentCount</div>
    </div>
    <div class="activity__item">
        <img src="@@viewIconPath" alt="@@viewIconAlt"
            class="activity__item-img">
        <div class="activity__item-num medium-label">@@viewCount</div>
    </div>
</div>